{% extends 'base.html.twig' %}

{% block body %}

    {% block header %} 
        {{ parent() }} 
    {% endblock %}

    {% block main %}

       <p>Vous n'êtes plus connectés</p>

    {% endblock main %}

{% endblock body %}